 <header>
        <div class="nav-container">
            <h1><span class="emoji">✈️</span> AI Trip Planner</h1>
            <nav>
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="#tripForm">Plan Trip</a>
                    <a href="/about">About</a>
                </div>
                <div class="auth-buttons">
                    <a href="/user/login" class="login-btn">Login</a>
                    <a href="/register" class="signup-btn">Sign Up</a>
                     <!-- iska alg se krenge -->
                </div>
            </nav>
        </div>
    </header>